@import "tailwindcss";

@theme {
    --color-red: #CD1A40;
    --color-orange: #FF803C;
    /* --color-gray: #CD1A40; */
    /* --color-black: #000000; */
    /* --color-gray1: #262626; */
    /* --color-gray2: #808080; */
    /* --color-black-100: oklch(70.4% 0.04 256.788); */
    --font-water: "Water Brush", "cursive";
    --font-work: "Work Sans", "sans-serif";
    --font-carattere: "Carattere", "cursive";
  }

body {
  font-family: "Work Sans", sans-serif;
}