/* global.css */
.scrollbar-thin {
  scrollbar-width: thin;            /* Firefox */
  scrollbar-color: #a1a1aa #f5f5f5; /* thumb + track */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a1a1aa; /* gray-400 */
  border-radius: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f5f5f5; /* gray-100 */
}
